
/* base */
body {
  background-color: #f3f2e8;
}

/* black (text) */
body {
  color: #63565f;
}

/* bright red (block background) */
.region-sidebar-first .block,
#forum tr.container,
tr.region-title {
  background-color: #fff6e8;
}

/* red (link) */
a,
.node .field-name-body a,
.node a:hover,
#branding #site-slogan {
  color: #cc0000;
}
.region-sidebar-first .block-1,
.region-sidebar-first .block-2,
.tabs ul.tabs li.active a,
input.form-button:hover,
input.form-submit:hover,
input.form-button:focus,
input.form-submit:focus,
ul.vertical-tabs-list li.selected a,
.node .date-posted .year {
  background-color: #cc0000;
}
a:focus {
  color: #cc0000;
  outline-color: #cc0000;
}

/* orange (linkhover) */
a:hover,
.node .field-name-body a:hover,
.node a  {
  color: #ff6600;
}
.node .meta a {
  color: #ff6600;
}
.region-sidebar-first .block,
#forum tr.container  {
  border-bottom-color: #ff6600;
  border-top-color: #ff6600;
}

/* bright orange (separator) */
.block ul li {
  border-bottom-color: #ffd589;
}

/* very dark red (title, used for hovered main menu link, table headers, block titles) */
#main-menu ul.links li a:hover,
#main-menu ul.links li.active a:hover,
table thead {
  background-color: #660000;
}
table tr,
#comments h2 {
  border-color: #660000;
}
.block h2,
#branding #site-name a,
#main-menu ul.links li.active a,
#forum td.container .name a,
#comments h2 {
  color: #660000;
}
*::selection {
	background-color: #660000;
}
*::-moz-selection {
	background-color: #660000;
}

/* site slogan */


/* main menu link */



