
/**
* Headers
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: 700;
}
h1 {
  margin: 15px 0 10px 0;
  font-size: 26px;
}
h2 {
  margin: 18px 0 11px 0;
  font-size: 23px;
}
h3 {
  margin: 14px 0 6px 0;
  font-size: 20px;
}
* + h3 {
  margin-top: 20px;
}
h4 {
  margin: 7px 0;
  font-size: 16px;
}
h5,
h6 {
  margin: 5px 0;
  font-size: 14px;
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0;
}

/**
* Block elements
*/
p {
  line-height: 1.5;
}
p + p,
ul + p,
ol + p {
  margin-top: 18px;
}
pre {
  font-family: monospace;
  overflow: hidden;
}
blockquote {
  background-color: #EAF7FF;
  padding: 12px;
}
img {
  margin: 10px 10px 10px 0;
}
.block-system-main .img {
  float: left;
}

/**
* Inline elements
*/
strong {
  font-weight: 700;
}
em {
  font-style: normal;
  font-weight: 700;
}
kbd {
  background-color: #E9E9CE;
  border: 1px outset #575757;
  color: #575757;
  padding: 2px 5px;
}
abbr[title],
dfn[title],
acronym[title] {
  border-bottom: 2px dotted gray;
}
del {
  text-decoration: none;
  background: url(images/strike.png) repeat-x center right;
}
samp,
var,
code {
  background-color: #EAF7FF;
}
ins {
  background-color: #f2ffd8;
}
sub {
  vertical-align: sub;
  line-height: 0;
}
sup {
  vertical-align: super;
  line-height: 0;
}
tt {
  font-family: monospace;
}
*::selection {
	background-color: #660000;
  color: #ffffff;
}
*::-moz-selection {
	background-color: #660000;
  color: #ffffff;
}

/**
* Lists
*/
ul,
ol,
dl {
  list-style-position:  inside;
}
ul li,
ol li,
dl dt,
dl dd {
  line-height: 1.8;
}
p + ul {
  margin-top: 5px;
}
ul {
  margin-left: 15px;
}
ul li {
  list-style: none inside none;
  margin: 0;
  padding: 0 0 0 15px;
  background: url(images-restricted/bullet.png) no-repeat left 3px;
}
ul.inline li,
ul.links li {
  background-position: 0px 6px;
}
ul.inline li {
  display: inline;
}
.region-content ol {
  list-style: decimal;
  list-style-position:  inside;
  padding-left: 1.5em;
}
dl dt {
  margin-top: 5px;
  font-weight: 900;
}
dd {
}

/**
* Links
*/
a {
  color: #CC0000;
  text-decoration: none;
}
a:hover {
  color: #FF6600;
}
a:active {
}
a:focus {
  outline: 1px dashed #cc0000;
  color: #cc0000;
}

/**
* Text selection
*/
h2 a::selection {
	background: #109DD0;
  color: #ffffff;
}
h2 a::-moz-selection {
	background: #109DD0;
  color: #ffffff;
}
/**
* Tables
*/
table {
  width: 100%;
}
table th,
table td {
  padding: 11px 14px;
  text-align: left;
  vertical-align: middle;
}
table thead {
  background-color: #660000;
  color: #fcfcf8;
}
table thead a {
  color: #fcfcf8;
}
table tr {
  border-top: 1px dashed #660000;
}
table tr:first-child {
  border-top: none;
}
table tr:last-child {
  border-bottom: 1px dashed #660000;
}
table tr.odd {
}
table tr.even {
}
table caption {
  font-weight: bold;
  margin-bottom: 4px;
  text-align: left;
}

/**
* Forms
*/
/* Wrappers, labels and helpers */
.fieldset-wrapper {
  margin: 10px 0;
}
fieldset {
  border-top: 1px dashed #660000;
  padding: 10px 0;
}
legend {
  padding-right: 6px;
  font-size: 12px;
  font-weight: 700;
}
.form-item {
  margin: 18px 0;
}
.form-item:first-child,
legend + .form-item,
legend + .fieldset-wrapper {
  margin-top: 0;
}
.form-item:last-child {
  margin-bottom: 0px;
}
.form-item .description {
  margin-top: 6px;
  font-size: 11px;
  font-style: italic;
  opacity: 0.8;
}
label {
  vertical-align: middle;
  display: block;
  color: #000000;
  font-size: 12px;
  margin-bottom: 5px;
}
label.option {
  display: inline;
}
span.form-required {
  font-weight: 700;
  color: #FF3300;
}
/* Text inputs*/
input.form-text,
input.form-password,
input.form-file,
textarea {
  padding: 6px;
  font-family: "Arial", sans-serif;
  font-size: inherit;
  color: #404040;
  border: 1px solid #D5E7F0;
  background-color: #E9F8FF;
}
input.form-text:focus,
input.form-password:focus,
input.form-file:focus,
textarea:focus {
  border: #339ac3 1px solid;
  background-color: #f7fcff;
}
input.form-text {
  width: 200px;
}
input.form-password {
  width: 200px;
}
input.form-file {
  border: none;
  background: none;
}
textarea {
  width: 100%;
  height: 230px;
  padding: 0;
}
/* Select inputs */
.form-type-select {
}
select {
  padding: 6px;
  margin-bottom: -6px;
}
/* Choice inputs */
.form-checkboxes {
  margin: 11px 0;
}
.form-item-choice {
  padding: 3px 0;
}
.form-radios .form-item,
.form-checkboxes .form-item,
.form-item.form-type-checkbox {
  margin: 5px 0;
}
.form-radios .form-item label,
.form-checkboxes .form-item label,
.form-item.form-type-checkbox label {
  font-weight: 300;
  color: inherit;
}
input.form-checkbox,
input.form-radio {
  display: inline;
  vertical-align: middle;
}
input.form-checkbox,
input.form-radio {
  display: inline;
  vertical-align: middle;
}
/* Buttons */
input.form-button,
input.form-submit {
  cursor: pointer;
  background-color: #2cb3f1;
  color: #ffffff;
  border: 3px solid #003366;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 4px 3px 4px 0;
  font-family: "Verdana";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input.form-button:hover,
input.form-submit:hover,
input.form-button:focus,
input.form-submit:focus {
  background-color: #dd2200;
}
input.form-button:focus,
input.form-submit:focus {
  outline: 1px dashed #339ac3;
}
input.form-button::-moz-focus-inner,
input.form-submit::-moz-focus-inner {
  border: 0;
}

