
body {
  font-size: 10pt;
  font-family: "Times New Roman", serif!important;
  color: #000000;
  word-spacing: 1.1pt;
  background: none;
  width: 100% !important;
  line-height: 1.3;
}
#main,
#closure {
  margin: 0!important;
  padding: 0!important;
  min-width: 0!important;
  max-width: none!important;
  width: 100%!important;
  border: none!important;
}
#content-wrapper {
  width: 100%!important;
}
.node h2 a {
  text-decoration: none!important;
}
/* Elements */
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
h4,
h5,
h6 {
  font-size: 12pt;
}
a {
  text-decoration: underline !important;
}
/* Hidden */
#toolbar,
#header-wrapper,
.breadcrumb,
ul.links,
.messages,
.tabs,
#closure,
#sidebar-first,
#sidebar-second,
ul.pager,
a.feed-icon,
form#comment-form {
  display: none!important;
}

