
/**
* 
* Global reset stylesheet based on reset.css by Eric Mayer
* More info: http://meyerweb.com/eric/tools/css/reset/
*
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table, 
caption,
tbody,
tfoot,
thead,
tr,
th, 
td {
  background: transparent;
  border: 0;
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
  font-size: 13px;
}
ol, ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
:focus {
  outline: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address {
  font-style: normal;
}
hr {
  height: 1px;
  border: 1px solid gray;
}

/*
** Markup free clearing
*/
.clearfix:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
