
/**
** Tabs
*/
.tabs {
  margin: -5px 0 9px 0;
}
.tabs ul.tabs {
  margin-left: 0;
  border-bottom: 2px solid #003366;
}
.tabs ul.tabs li {
  display: inline-block;
  border-bottom: 2px solid #003366;
  margin: 7px -3px -2px;
  padding: 0 7px;
  background-image: none;
}
.tabs ul.tabs li a {
  background-color: #2CB3F1;
  border-left: 2px solid #003366;
  border-right: 2px solid #003366;
  border-top: 2px solid #003366;
  display: block;
  padding: 4px 14px;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #2cb3f1;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tabs ul.tabs li a:hover {
  opacity: 0.75;
}
.tabs ul.tabs li a:active,
.tabs ul.tabs li a:focus {
  outline: none;
  opacity: 0.75;
}
.tabs ul.tabs li.active a {
  color: #FFFFFF;
  background-color: #dd2200;
}
.tabs ul.secondary {
}
.tabs ul.secondary li {
}
.tabs ul.secondary li a {
  font-size: 11px;
  padding: 2px 12px ;
}
/**
** Vertical tabs
*/
.vertical-tabs {
  border: 1px solid #D1CBB5;
  margin: 18px 0;
}
.vertical-tabs .form-item:first-of-type {
  margin-top: 6px;
}
ul.vertical-tabs-list {
  display: table-cell;
  vertical-align: top;
  width: 165px;
  margin: 0;
}
ul.vertical-tabs-list li {
  background: none;
  margin: 0;
  padding: 0;
}
ul.vertical-tabs-list li a {
  background-color: #2CB3F1;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  padding: 7px 12px;
}
ul.vertical-tabs-list li a:focus {
  outline: none;
}
ul.vertical-tabs-list li.selected a {
  background-color: #DD2200;
  border-right: none;
  color: #ffffff;
}
.vertical-tabs-panes {
  display: table-cell;
  vertical-align: top;
}
fieldset.vertical-tabs-pane {
  margin: 0;
  padding: 10px 15px;
  border: none;
}
fieldset.vertical-tabs-pane legend,
ul.vertical-tabs-list small.summary {
  display: none;
}

/**
** Pagers
*/
ul.pager {
  height: 100%;
  margin-left: 0;
  margin: 16px 0 2px;
}
ul.pager li {
  padding: 0;
  border-right: 1px solid #666666;
  display: table-cell;
  background: none;
}
ul.pager li.last {
  border-right: none;
}
ul.pager li a,
ul.pager li.pager-current,
ul.pager li.pager-ellipsis {
  padding: 0px 11px;
}
ul.pager li.pager-current,
ul.pager li.pager-ellipsis {
}

/**
** Breadcrumbs
*/
#breadcrumb {
  margin: 0px 0 13px;
}
.breadcrumb {
}
.breadcrumb a {
  font-weight: 700;
  font-size: 12px;
}

/**
** Action links
*/
ul.action-links {
  margin: 6px 0;
}
ul.action-links li {
  padding: 0;
  background: none;
}

/**
** Messages
*/
#messages {
  margin: 10px 0;
}
.messages {
  padding: 10px;
  margin: 10px 0;
}
.messages.status {
  background-color: #f3fcdb;
  border: 1px solid #b8e643;
}
.messages.warning {
  background-color: #fffee9;
  border: 1px solid #eeec93;
}
.messages.error {
  background-color: #fef7f3;
  border: 1px solid #f7b488;
}

/**
 * Autocompletion list
 */
#autocomplete {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  z-index: 100;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
#autocomplete li {
  background: #ffffff;
  color: #000000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #ffffff;
}

/**
 * Collapsing fieldsets
 */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
  height: 1em;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed legend,
html.js fieldset.collapsed legend a span.element-invisible {
  display: block;
  overflow: hidden;
}
html.js fieldset.collapsible  {
}
html.js fieldset.collapsible legend a {
  display: inline;
  background: url("images/menu-expanded.png") no-repeat right 7px;
  padding: 0 13px 0 0;
}
html.js fieldset.collapsible legend span.summary {
  display: inline;
  font-size: 0.9em;
  color: #999;
  margin-left: 0.5em;
}
html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.png) no-repeat right 5px;
  padding: 0 15px 0 0;
}

/*
 * Resizable textareas
 */
.resizable-textarea .grippie {
  height: 9px;
  overflow: hidden;
  background: #c8eeff url(images/grippie.png) no-repeat center 2px;
  border: 1px solid #E1DFD0;
  border-top-width: 0;
  cursor: s-resize;
  margin-top: -1px;
}

/**
 * Table drag and drop
 */
body.drag {
  cursor: move;
}
tr.drag {
  background-color: #f6f8d5;
}
tr.drag-previous {
  background-color: #fffee9;
}
td.choice-flag {
  padding: 11px 0px 11px 12px;
}
span.tabledrag-changed {
  font-size: 15px;
  margin-left: 3px;
  color: red;
  font-weight: 700;
} 
a.tabledrag-handle {
  cursor: move;
  display: inline-block;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  height: 13px;
  width: 13px;
  margin: 0 14px 0 0;
  background: url(images/draggable.png) no-repeat 0 0;
}
a.tabledrag-handle-hover .handle {
  background-position: 0 -20px;
}
.indentation {
  width: 20px;
  float: left;
}

/**
 * Progress bar
 */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #ccc;
  border: 1px solid #666;
  margin: 0 0.2em;
}
.progress .filled {
  height: 1.5em;
  width: 5px;
}
.progress .percentage {
  float: right;
}
.progress-disabled {
  float: left;
}
.ajax-progress {
  float: left;
}
.ajax-progress-bar {
  width: 16em;
}

/**
 * Password strength indicator
 */
.password-parent {
  width: 415px;
}
#password-strength {
  width: 175px;
  float: right;
  margin-top: 16px;
}
#password-strength-text {
  float: right;
  font-weight: bold;
}
.password-confirm {
}
#password-indicator {
  margin-top: 3px;
  background-color: #2CB3F1;
  height: 8px;
}
#password-indicator div {
  height: 100%;
  background-color: #DD2200;
}
input.password-confirm, input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
.password-confirm {
  display: inline;
  padding-left: 1em;
}
.form-item .password-suggestions {
  padding: 15px 15px 10px;
  margin: 10px 0;
  background-color: #f3fcdb;
  border: 1px solid #b8e643;
}
.password-suggestions ul {
  margin: 8px 0 0 9px;
}


/**
 * Utility classes
 */
.element-hidden {
  display: none;
}
.element-invisible {
  height: 0;
  overflow: hidden;
  position: absolute;
}
html.js .js-hide {
  display: none;
}
.nowrap {
  white-space: nowrap;
}
.clearfix:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*
** Admin pages
*/
body.page-admin #header,
body.page-admin #main {
  max-width: 1200px!important;
  width: 90%!important;
}
body.page-admin #content {
  width: 100%!important;
}
body.page-admin #content > .inner {
  margin: 0;
}
body.page-admin {
  background-attachment: fixed;
}
body.page-admin #main {
  background-color:rgba(255, 255, 255, 0.85);
}
body.overlay {
  background-color: #ffffff;
  background-image: none;
}
body.overlay #main {
  max-width: none;
  min-width: 300px;
  border: none;
  width: 100%!important;
} 
body.overlay h1.page-title {
  display: none;
}
.overlay .ui-dialog-title  {
  font-size: 35px;
  padding: 0 0 6px;
}
/* dblog */
form#dblog-filter-form {
}
form#dblog-filter-form .form-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 0;
}
#edit-actions {
  display: inline-block;
  vertical-align: top;
}
.form-item-type, .form-item-severity {
}
#dblog-filter-form .form-type-select select {
  width: 100%;
}
#dblog-filter-form .form-actions {
  padding: 6px 0;
}
tr.dblog-user {
  background: #ffd;
}
tr.dblog-user .active {
  background: #eed;
}
tr.dblog-content {
  background: #fffee9;
}
tr.dblog-content .active {
  background: #fffcc3;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #f3fcdb;
}
tr.dblog-page-not-found .active, tr.dblog-access-denied .active {
  background: #def2a9;
}
tr.dblog-error {
  background: #fce8dd;
}
tr.dblog-error .active {
  background: #fad4c0;
}
/* color switcher */
#palette {
  width: 450px;
  margin: 18px 0 18px 10px;
}
#palette .form-item {
  display: inline-block;
  margin: 4px 5px 9px 3px;
}
#placeholder {
  display: inline-block;
  vertical-align: top;
}
.form-item-scheme {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  margin-right: 10px;
}
#palette {
  display: inline-block;
  vertical-align: top;
}
/* dashboard */
#dashboard #disabled-blocks h2 {
  color: #ffffff;
}

fieldset#edit-picture img {
  float: right;
  margin: 10px 0 10px 10px;
}

body.page-admin input {
  width: auto;
}
#block-system-help .inner {
  background-color: #EEFAD6;
  border: 1px solid #B1DC5B;
  padding: 9px 14px;
}
dl.admin-list dd {
  margin: 0;
}
table#permissions td.module {
  background-color: #FFF6E8;
  border-bottom:1px dashed #FF6600;
border-top:1px dashed #FF6600;
}
table#permissions th {
  text-transform: capitalize;
}
table img {
  margin: 0 0 0 7px;
  float: none;
}
td.block {
  background: inherit;
  border: none;
  margin: 0;
}
tr.region-title {
background-color:#FFF6E8;
border-bottom:1px dashed #FF6600;
border-top:1px dashed #FF6600;
}
dl.multiselect label {
  text-transform: capitalize;
}
dl.multiselect dd {
  line-height: normal;
  margin-left: 0;
}
ul.links.inline li {
  background: none;
  padding: 0;
}
div.warning {
  background-color: #F6F8D5;
  border: 1px solid #e1e797;
  padding: 10px 11px;
  margin: 10px 0;
}
#poll-choices {
  margin-bottom: 8px;
}
#edit-actions {
  margin-top: 8px;
}
tr.draggable .form-item {
  display: inline;
}
.theme-selector {
  margin-bottom: 20px;
  display: inline-block;
  width: 320px;
  vertical-align: top;
}
.theme-selector:last-child {
  border-bottom: none;
}
.theme-selector .no-screenshot {
  margin-top: 10px;
}
.theme-selector .theme-info {
}
.system-themes-list-enabled {
  border-bottom: 1px dashed #660000;
}
#preview {
  position:relative;
}
.no-screenshot {
  width: 291px;
  height: 220px;
  color: #F8F8EF;
  border: 1px solid #D1CBB5;
}
.theme-info h3 {
  margin-bottom: 15px;
}
.theme-info ul {
  margin: 5px 0 0 0;
}
.theme-info li {
  background: none;
  padding: 0 10px 0 0;
  display: inline;
}
.admin .left {
  width: 49%;
  float: left;
}
.admin .right {
  width: 49%;
  float: right;
}
.admin-panel {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #660000;
}
.description {
  margin-bottom: 3px;
  line-height: 1.3;
}
th a img {
  margin-left: 5px;
}
#block-system-help {
  border: 1px solid #c9df7c;
  background-color: #f7fbe7;
}
form#system-actions-manage-form {
  margin-top: 30px;
}
#user-admin-buttons,
#node-admin-buttons {
  margin-top: 10px;
}
.multiselect .form-item {
  display: inline-block;
  margin: 0 10px 0 0;
}
.compact-link {
  margin-bottom: 5px;
}
#poll-choice-wrapper input#edit-poll-more {
  margin: 4px 0 20px 0;
}

