
html.js fieldset.collapsible legend a {
  background: url("images/menu-expanded.png") no-repeat left 7px;
  padding: 0 0 0 13px;
}
html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed-rtl.png) no-repeat left 5px;
  padding: 0 0 0 15px;
}
a.tabledrag-handle .handle {
  margin: 0 0 0 14px;
}
